*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #241C1C;
    .container{
        nav{
            span{
                color: #F0FCF7;
                font-family: Tahoma;
                font-size: 20px;
                margin: 0% auto;
            }
        }
    }
}
.searchpart{
    padding: 2% 0% 4% 0%;
    height: 20px;
    @media (max-width: 576px) {
        padding: 2% 5% 4% 5%;
    }
    .txt{
        padding-top: .5%;
    }
    input{
        width: 100%;
        padding: 1%;
    }
}
.result{
    margin: 0% auto;
    @media (max-width: 768px) {
        margin-top: 10%;
    }
    @media (max-width: 576px) {
        margin-top: 28%;
    }
    .profile{
        .card{
            .card-body{
                .img{
                    img{
                        width: 100%;
                        padding-bottom: 10%;
                    }
                }
                .spans{
                    @media (max-width: 576px) {
                        padding: 6% 0%;
                    }
                }
                ul{
                    padding-top: 3%;
                }
            }
        }
    }
}
#repos{
    .repocont{
        width: 100%;
        vertical-align: middle;
        border: 1px solid #eee;
        padding: 2% .3%;
        margin-top: 1%;
    }
    .repores{
        display: inline-block;
        margin: 0%;
        padding: 0% 1%;
        @media (max-width: 576px) {
            border-bottom: 1px solid #eee;
            padding: 2% 1%;
        }
        &:last-child{
            display: inline;
            padding: 0% 2%;
        }
    }
}